@page "/users"
@using BackOffice.Data
@inject HttpClient Http

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<a href="user/update" class="btn btn-primary mb-5">Update User</a>
<a href="user/update" class="btn btn-danger mb-5">DeleteUser</a>

@if (loading)
{
    <p><em>Loading Users...</em></p>
}
else
{
    @if (users == null || users.Length == 0)
    {
        <p>No users found.</p>
    }
    else
    {
        @foreach (var user in users)
        {
            <div>
                <p class="fw-bold">Email: @user.Email</p>
                <p>Id: @user.Id</p>

                @if (user.UserProfile != null)
                {
                    <p>First Name: @user.UserProfile.FirstName</p>
                    <p>Last Name: @user.UserProfile.LastName</p>
                }
                else
                {
                    <p>No user profile found.</p>
                }

                <hr />
            </div>
        }
    }
}

@code {
    private ApplicationUser[]? users;
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<ApplicationUser[]>("https://userprovider-silicon-et.azurewebsites.net/api/GetUser?code=VFnHjGRlz-2iFHvnzGcvGWPWuX43Ojo3UJuB--w3w-opAzFunzCNEw==");
        loading = false;
    }
}
