@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>BackOffice</h1>
    <div>
        <p>
            Welcome to BackOffice for the Silicone project. We offer a comprehensive and user-friendly platform where you can manage both users and administrators. Our goal is to make administration simple and efficient, so you can focus on what really matters – delivering top-notch services to your customers.
        </p>
        <p>
            At the Silicone project, we understand that your customers are your greatest asset. That's why we've developed tools to help you keep them satisfied and engaged. With our platform, you can easily monitor user activities, manage user rights, and ensure that each customer receives the best possible experience.
        </p>
        <p>
            We take care of the technical details so you can focus on your core business. With our advanced management system, you can confidently delegate daily routines to us while you and your customers explore life and its possibilities. Our platform is designed to be intuitive and easy to use, so you can quickly get started and make the most of our features.
        </p>
        <p>
            Our dedication to customer satisfaction means we are constantly improving and updating our system based on your needs and feedback. By using the Silicone project's BackOffice, you not only gain access to powerful tools but also our team of experts ready to assist you when needed.
        </p>
        <p>
            We strive to be more than just a service – we want to be a reliable partner in your business. Let us take care of administration so you can focus on exploring new opportunities and growing your business.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/images/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="Alternate Text" class="img-fluid img-square" style="margin: 20px 0; height: 100%; width: 100%; object-fit: cover;" />
        </div>
        <div class="col-md-6">
            <img src="/images/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="Alternate Text" class="img-fluid img-square" style="margin: 20px 0; height: 100%; width: 100%; object-fit: cover;" />
        </div>
    </div>
</div>
